{% macro pragma_once(name) %}
    {% if name != None %}
        #ifndef {{ name }}
        #define {{ name }}
    {% endif %}
{% endmacro %}

{% macro pragma_once_end(name) %}
    {% if name != None %}
        #endif
    {% endif %}
{% endmacro %}

{% macro namespace(name) %}
    {% if name %}
        namespace {{ name }} {
    {% endif %}
{% endmacro %}

{% macro namespace_end(name) %}
    {% if name %}
        }
    {% endif %}
{% endmacro %}

{% macro include(includes) %}
    {% for include in includes %}
        #include "{{ include }}"
    {%endfor%}
{% endmacro %}

{% macro forward_declare(fwds) %}
    {% for fwd in fwds %}
        {% if "::" in fwd %}
            namespace {{ fwd.rsplit("::", 1)[0] }} {
                struct {{ fwd.rsplit("::", 1)[-1] }};
            }
        {% else %}
            struct {{ fwd }};
        {% endif %}

    {% endfor %}
{% endmacro %}