{% macro generate(structName, struct) %}
    {{ toJson(structName, struct) }}
    {{ toJsonArray(structName, struct) }}
    {{ fromJson(structName, struct) }}
    {{ fromJsonArray(structName, struct) }}
    {{ copyFieldsFrom(structName, struct) }}
{% endmacro %}

{% macro toJson(structName, struct) %}
    void {{ structName }}::toJson(json &j) const {
        j = json{
            {% for field in struct %}
                { "{{ field.name }}", {{ field.name }} },
            {% endfor %}
        };
    }
{% endmacro %}

{% macro toJsonArray(structName, struct) %}
    void {{ structName }}::toJsonArray(json &j) const {
        j = json::array({
            {% for field in struct %}
                {{ field.name }},
            {% endfor %}
        });
    }
{% endmacro %}

{% macro fromJson(structName, struct) %}
    void {{ structName }}::fromJson(const json &j) {
        {% for field in struct %}
            if (j.contains("{{ field.name }}"))
                {{ field.name }} = j.at("{{ field.name }}") {% if field.typ != "json" %} .get<{{ field.typ }}>() {% endif %};
        {% endfor %}
    }
{% endmacro %}

{% macro fromJsonArray(structName, struct) %}
    void {{ structName }}::fromJsonArray(const json &j) {
        {% for field in struct %}
            {{ field.name }} = j.at({{ loop.index0 }}) {% if field.typ != "json" %} .get<{{ field.typ }}>() {% endif %};
        {% endfor %}
    }
{% endmacro %}

{% macro copyFieldsFrom(structName, struct) %}
    void {{ structName }}::copyFieldsFrom(const {{ structName }} &other) {
        {% for field in struct %}
            {{ field.name }} = other.{{ field.name }};
        {% endfor %}
    }
{% endmacro %}

{% macro implicitConversionFunctions(structName, withKeys) %}

    static void to_json(json &j, const {{ structName }} &v)
    {
        {% if withKeys %}
        v.toJson(j);
        {% else %}
        v.toJsonArray(j);
        {% endif %}
    }
    static void from_json(const json &j, {{ structName }} &v)
    {
        {% if withKeys %}
        v.fromJson(j);
        {% else %}
        v.fromJsonArray(j);
        {% endif %}
    }

{% endmacro %}