{% import 'header-footer.jinja' as hd %}
{% import 'properties.jinja' as prop %}
{% import 'serde-json.jinja' as jserde %}
{% import 'serde-lua.jinja' as lserde %}

{{ hd.pragma_once(config.pragma_once) }}

#include "{{ config.include_header }}"


{{ hd.namespace(config.namespace) }}

    {% for structName, struct in structs.items() %}

        struct {{ structName }};

    {% endfor %}

{{ hd.namespace_end(config.namespace) }}

{% for structName, struct in structs.items() %}


    namespace sol {
        template <>
        struct is_to_stringable<
            {% if config.namespace %}
                {{ config.namespace }}::
            {% endif %}

            {{ structName }}

        > : std::false_type {};
    }


{% endfor %}


{{ hd.namespace(config.namespace) }}

{% for structName, struct in structs.items() %}
    struct {{ structName }} {
        // Variables exposed to Lua
        {{ prop.fields(struct.expose) }}

        // Variables not exposed to Lua
        {{ prop.fields(struct.cpp_only) }}

        // Methods
        {{ prop.methods(struct.methods) }}

        // Component info (for in-game inspector)
        {% if not struct.flags.not_a_component %}
            {{ prop.componentInfo(structName, struct.expose) }}

            // Hash function
            {{ prop.hash(struct.hash) }}
        {% endif %}

        // Lua serde functions
        {{ lserde.toLuaTable(struct.expose) }}
        {{ lserde.fromLuaTable(struct.split) }}
        {{ lserde.generateLuaUserType(structName, struct.expose) }}

        // JSON serde functions
        {{ jserde.generate(structName, struct.expose) }}


        // Struct info (for in-game inspector)
        {{ prop.structInfo(structName, struct.expose) }}

    };

    // implicit conversion JSON functions
    {{ jserde.implicitConversionFunctions(structName, struct.flags.json_with_keys) }}

{% endfor %}

{{ hd.namespace_end(config.namespace) }}
{{ hd.pragma_once_end(config.pragma_once) }}
