{% import 'header-footer.jinja' as hd %}
{% import 'properties.jinja' as prop %}
{% import 'serde-json.jinja' as jserde %}
{% import 'serde-lua.jinja' as lserde %}

{{ hd.pragma_once(config.pragma_once) }}
{{ hd.namespace(config.namespace) }}

#include "{{ config.include_header }}"

{% for structName, struct in structs.items() %}
    struct {{ structName }} {
        // Variables exposed to Lua
        {{ prop.fields(struct.expose) }}

        // Variables not exposed to Lua
        {{ prop.fields(struct.cpp_only) }}

        // Methods
        {{ prop.methods(struct.methods) }}

        // Struct info (for in-game inspector)
        {{ prop.structInfo(structName, struct.expose) }}

        // Hash function
        {{ prop.hash(struct.hash) }}

        // Lua serde functions
        {{ lserde.generate(struct.expose) }}

        // JSON serde functions
        {{ jserde.generate(structName, struct.expose) }}
    };

    // implicit conversion JSON functions
    {{ jserde.implicitConversionFunctions(structName) }}

{% endfor %}

{{ hd.namespace_end(config.namespace) }}
{{ hd.pragma_once_end(config.pragma_once) }}
