{% macro stubs(name, struct) %}
    {{ name }}();

    {{ name }}(const sol::table &);

    {% if struct.flags.not_a_component == False %}

        static void registerEntityEngineFunctions(sol::table &, entt::registry &);
        std::function<void({{ name }} &, float)> getInterpolator(const std::string &, sol::object) const;
    {% endif %}

    void fromLuaTable(const sol::table &);

    static void generateLuaUserType(sol::state &);

    void toJson(json &j) const;
    void toJsonArray(json &j) const;
    void fromJson(const json &j);
    void fromJsonArray(const json &j);
    void copyFieldsFrom(const {{ name }} &other);
{% endmacro %}
