{% macro stubs(name, struct) %}
    {{ name }}();

    {% if struct.flags.not_a_component == False %}

        {{ name }}(const sol::table &);

        static void registerEntityEngineFunctions(sol::table &, entt::registry &);
    {% endif %}

    void fromLuaTable(const sol::table &);

    static void generateLuaUserType(sol::state &);

    void toJson(json &j) const;
    void toJsonArray(json &j) const;
    void fromJson(const json &j);
    void fromJsonArray(const json &j);
    void copyFieldsFrom(const {{ name }} &other);
{% endmacro %}
