{% macro stubs(name) %}
    {{ name }}();

    void toLuaTable(sol::table &table) const;
    void fromLuaTable(const sol::table &table);

    void toJson(json &j) const;
    void toJsonArray(json &j) const;
    void fromJson(const json &j);
    void fromJsonArray(const json &j);
    void copyFieldsFrom(const {{ name }} &other);
{% endmacro %}

{% macro static_stubs(name) %}
    static void to_json(json &j, const {{ name }} &v);
    static void from_json(const json &j, {{ name }} &v);
{% endmacro %}
